{% load static %}

<section class="section instruction" id="instruction">
    <div class="container">

      <p class="section-subtitle">How It Works</p>

      <h2 class="h2 section-title">Digitize and Validate Your Certificates</h2>

      <ul class="grid-list">

        <li class="instruction-item">

          <div class="instruction-icon">
            <ion-icon name="wallet-outline"></ion-icon>
          </div>

          <h3 class="instruction-title">Adjust Your Wallet</h3>

          <p class="instruction-text">
            Create a digital wallet to store your certificates safely. Our platform uses blockchain technology to transparently record all kinds of documents and certificates.
          </p>

        </li>

        <li class="instruction-item">

          <div class="instruction-icon">
            <ion-icon name="grid-outline"></ion-icon>
          </div>

          <h3 class="instruction-title">Build Your Collection</h3>

          <p class="instruction-text">
            Gather all your certificates and documents in a single digital space for ease of management. Our platform allows you to organize and store your documents digitally.
          </p>

        </li>

        <li class="instruction-item">

          <div class="instruction-icon">
            <ion-icon name="file-tray-outline"></ion-icon>
          </div>

          <h3 class="instruction-title">Add Your Certificates</h3>

          <p class="instruction-text">
            Add your certificates and diplomas to our platform to guarantee their authenticity. Each document is secured by an immutable and verifiable record on the blockchain.

          </p>

        </li>

        <li class="instruction-item">

          <div class="instruction-icon">
            <ion-icon name="bag-handle-outline"></ion-icon>
          </div>

          <h3 class="instruction-title">Store Securely</h3>

          <p class="instruction-text">
            All your documents and certificates are stored transparently and securely on the blockchain. Our platform ensures the authenticity and reliability of documents for organizations and individuals.
          </p>

        </li>

      </ul>

    </div>
  </section>